img {
    width: 200px;
}
body {
    text-align: center;
}
body {
    text-align: center;
    font-family: "impact";
    background-image: url("https://archive-media-1.nyafuu.org/vp/image/1450/55/1450557463732.gif");
    color: FUCHSIA;
}
